<h1><%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% @list.bookmarks.each do |bookmark| %>
  <li> <%= bookmark.movie.title %> <i class="fa-regular fa-trash"></i><%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <p><%= bookmark.comment %></p>
  </li>
<% end %>

<%= link_to "Add movie to this list", new_list_bookmark_path(@list) %>

<%= link_to "Back to all lists", lists_path %>
